@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* Extra small breakpoint */
  --breakpoint-xs: 30rem;

  /* Custom theme color */
  --color-talgach-green: #0a8a55;
}
